<%
	identity_id_attr = 'identity-display'
%>
<div id="<%= identity_id_attr %>"></div>

<script src="/scripts/lib/qr-code-writer/raphael-2.1.0-min.js"></script>
<script src="/scripts/lib/qr-code-writer/qrcodesvg.js"></script>

<script type="text/template" id="template-id-card">
	<%= file_load("#{settings.root}/public/tpl/card.svg") %>
</script>
<script type="text/template" id="template-id-card-errors">
	<div class="id-card-errors">
		<h5 class="error-message">Unable to find identity</h5>
		<ul class="error-messages">
			<% _.each(errors, function(msg) { %>
				<li><%= msg %></li>
			<% } %>
		</ul>
	</div>
</script>

<script>
(function() {
	var fn = window.onload;
	var identityObject = <%= @identity.as_document.to_json %>;
	window.onload = function() {
		if(typeof(fn) === 'function') fn();

		var cardElement = document.getElementById("<%= identity_id_attr %>");
		cardElement.innerHTML = renderIdentity(identityObject, 'original');
		renderQrcodeTo(window.location.href, document.getElementById("identity-barcode"));
		// renderQrcodeTo(window.location.href, cardElement.getElementById("identity-barcode"));
	};
})();
</script>