<div id="page-content">
<div id="qrcode-preview"></div>

<% unless true || @create_only || @display_only %>
	<%= erb :'_navigation', :layout => false %>
<% end %>

<div id="application-content">
	<% unless @create_only || @display_only %>
		<%= erb :about, :layout => false %>
		<%= erb :audience, :layout => false %>
	<% end %>

	<% unless true || @display_only %>
		<%= erb :create, :layout => false %>
	<% end %>

	<% unless true || @create_only %>
		<div id="scan-identity" class="feature-page scan">
			<% unless @display_only %>
				<h2>Scan a Card</h2>
				<p>
					(mostly working) No external tools necessary on the field to scan cards,
					this webpage has the ability to tap into your phone or tablet's camera
					creating a quick card scanner.  Scanning the card will display up a player's
					profile to ensure the authenticity of the card is in place.
				</p>
				<div>
					<button id="video-capture-begin">Start Camera</button>
					<button id="video-capture-end">Stop Camera</button>
				</div>
				<video id="qr-video" autoplay height="360" width="480"></video>
				<canvas id="qr-canvas" style="display:none;" height="360" width="480"></canvas>
				<img id="qr-image" height="360" width="480" />
			<% end %>

			<div id="current-card">
			</div>
		</div>
	<% end %>

	<% unless true || @create_only || @display_only %>
		<div id="scan-history" class="feature-page view">
			<h2>Scan History</h2>
			<%= erb :list, :layout => false %>
		</div>
	<% end %>

	<% unless @create_only || @display_only %>
		<%= erb :stats, :layout => false %>
	<% end %>

	<% unless @create_only || @display_only %>
		<%= erb :footer, :layout => false %>
	<% end %>
</div>
